<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="org.autojs.permission.PLUGIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="org.autojs.plugin.WAKE_ACTIVITY"
            android:value=".WakeActivity" />

        <meta-data
            android:name="org.autojs.plugin.info.AUTHOR"
            android:value="@string/plugin_author" />

        <activity
            android:name=".WakeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="org.autojs.plugin.action.WAKE" />
            </intent-filter>
        </activity>

        <service
            android:name=".MlKitBarcodePluginService"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN">
            <intent-filter>
                <action android:name="org.autojs.plugin.MLKIT_BARCODE" />
                <category android:name="mlkit-barcode" />
            </intent-filter>
        </service>

    </application>

</manifest>
